<!DOCTYPE html>
<html>
<head>
	<title>Steam API</title>
	<meta charset="UTF-8">
	<style>
	body{font-family: Helvetica, Arial}
    h3{color:#fff;}

	.box{background-color: #171A21;padding:10px;width:30%;}

	.text{background-color: #FFF;padding:10px;}

	</style>
</head>
<body>

<p>Accede a <b>http://localhost:8080/{usuario}</b> para convertir los nombres de usuarios a IDs Steam.</p>

<p>
	Ejemplos:
	<ul>

    <li><a href="brayancruces">@brayancruces</a></li>
    <li><a href="mizhac_">@mizhac_</a></li>
    <li><a href="DendiQ">@DendiQ</a></li>
	</ul>
</p>


</body>
</html>